@import 'vars';

h1, h2, h3, a, p {
    color: black;
}

h1 {
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 32px;
    line-height: 24px;

    @include for-phone-only {
        font-size: 18px;
    }
}

h2 {
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 32px;
    @include for-phone-only {
        font-size: 18px;
    }
}

a {
    text-decoration: none;
}

.thin_text{
    font-weight: 100;
}