@import 'vars';

h1, h2, h3, a, p {
    color: $red
}

h1 {
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 48px;
    line-height: 24px;
}

h2 {
    font-family: 'Heebo', sans-serif;
    font-weight: 300;
    font-size: 48px;
}

a {
    text-decoration: none;
}

.thin_text{
    font-weight: 100;
}